<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<style>
.container_but {
  height: 70px;
  position: relative;
  border: 0px solid rgb(83, 83, 83);
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
</style>
</head>

<body>
    <div class="jumbotron">
        <h1 class="text-center"><strong>Student Grade</strong></h1>

</div>
  <div class="container-fluid">
    <form name="passdata" action="/houseprice" method="POST">
    <div class="container px-lg-5">
      <div class="row mx-lg-n5">
        <div class="col py-3 px-lg-5 border bg-light"><div class="form-group">
          <label for="FormControlFile1"><strong>Studytime:</strong><br><small><small><small>between 1 (low) and 4 (high)</small></small></small></label>
          <input class="form-control" type="number" placeholder="Studytime" name="studytime">
        </div></div>
        <div class="col py-3 px-lg-5 border bg-light"><div class="form-group">
          <label for="FormControlFile1"><strong>Failures:</strong><br><small><small><small>between 1 (low) and 4 (high)</small></small></small></label>
          <input class="form-control" type="number" placeholder="Failures" name="failures">
      </div></div>
        <div class="col py-3 px-lg-5 border bg-light"><div class="form-group">
          <label for="FormControlFile1"><strong>Freetime:</strong><br><small><small><small>between 1 (low) and 5 (high)</small></small></small></label>
          <input class="form-control" type="number" placeholder="Freetime" name="freetime">
      </div></div>
        <div class="col py-3 px-lg-5 border bg-light"><div class="form-group">
          <label for="FormControlFile1"><strong>Absences:</strong><br><small><small><small>between 0 (low) and 93 (high)</small></small></small></label>
          <input class="form-control" type="number" placeholder="Absences" name="absences">
      </div></div>
      </div>
    </div>
    <div class="container px-lg-5">
      <div class="row mx-lg-n5">
        <div class="col py-3 px-lg-5 border bg-light"><div class="form-group">
          <label for="FormControlFile1"><strong>Health:</strong><br><small><small><small>between 1 (very bad) and 5 (very good)</small></small></small></label>
          <input class="form-control" type="number" placeholder="Health" name="health">
      </div></div>
        <div class="col py-3 px-lg-5 border bg-light"><div class="form-group">
          <label for="FormControlFile1"><strong>Grades in first exam:</strong><br><small><small><small>between 0 (very bad) and 20 (very good)</small></small></small></label>
          <input class="form-control" type="number" placeholder="Grades (1)" name="grade_1">
      </div></div>
        <div class="col py-3 px-lg-5 border bg-light"><div class="form-group">
          <label for="FormControlFile1"><strong>Grades in second exam:</strong><br><small><small><small>between 0 (very bad) and 20 (very good)</small></small></small></label>
          <input class="form-control" type="number" placeholder="Grades (2)" name="grade_2">
      </div></div>
      </div>
    </div>
    

		<div class="container_but">
        <div class="center">
        <div class="container px-lg-5">
            <div class="row mx-lg-n5">
              <div class="col py-3 px-lg-5 border bg-light">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>
		</div>
        </div>
    </form>
	  <br>
    <!--<form name="passdata1" action="." method="post">
    <div class="form-group">
        <label for="FormControlFile1"><strong>Postal Code</strong></label>
        <input class="form-control" type="text" placeholder="Postal Code" name="postal_code">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>-->
    <div class="container px-lg-5">
        <div class="row mx-lg-n5">
          <div class="col py-3 px-lg-5 border bg-light"><div class="card">
            <div class="card-body">
              <h3>Grade: ({{ Ypredict }})
            </div>
          </div></div>
        </div>
      </div>
	  </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

</html>
<!-- end document-->