<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<style>
.container_but {
  height: 70px;
  position: relative;
  border: 0px solid green;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
</style>
</head>

<body>
    <div class="jumbotron">
        <h1 class="text-center"><strong>Student Grade</strong></h1>

</div>
  <div class="container-fluid">
    <form name="passdata" action="/index" method="POST">
    <div class="container px-lg-5">
      <div class="row mx-lg-n5">
        <div class="col py-3 px-lg-5 border bg-light"><div class="form-group">
          <label for="FormControlFile1"><strong>Studytime:</strong><br><small><small><small>between 1 (low) and 4 (high)</small></small></small></label>
          <input class="form-control" type="text" placeholder="Studytime" name="studytime">
        </div></div>
        <div class="col py-3 px-lg-5 border bg-light"><div class="form-group">
          <label for="FormControlFile1"><strong>Failures:</strong><br><small><small><small>between 1 (low) and 4 (high)</small></small></small></label>
          <input class="form-control" type="text" placeholder="Failures" name="failures">
      </div></div>
        <div class="col py-3 px-lg-5 border bg-light"><div class="form-group">
          <label for="FormControlFile1"><strong>Freetime:</strong><br><small><small><small>between 1 (low) and 5 (high)</small></small></small></label>
          <input class="form-control" type="text" placeholder="Freetime" name="freetime">
      </div></div>
        <div class="col py-3 px-lg-5 border bg-light"><div class="form-group">
          <label for="FormControlFile1"><strong>Absences:</strong><br><small><small><small>between 0 (low) and 93 (high)</small></small></small></label>
          <input class="form-control" type="text" placeholder="Absences" name="absences">
      </div></div>
      </div>
    </div>
    <div class="container px-lg-5">
      <div class="row mx-lg-n5">
        <div class="col py-3 px-lg-5 border bg-light"><div class="form-group">
          <label for="FormControlFile1"><strong>Health:</strong><br><small><small><small>between 1 (very bad) and 5 (very good)</small></small></small></label>
          <input class="form-control" type="text" placeholder="Health" name="health">
      </div></div>
        <div class="col py-3 px-lg-5 border bg-light"><div class="form-group">
          <label for="FormControlFile1"><strong>Grades in first exam:</strong><br><small><small><small>between 1 (very bad) and 5 (very good)</small></small></small></label>
          <input class="form-control" type="text" placeholder="Grades (1)" name="grade_1">
      </div></div>
        <div class="col py-3 px-lg-5 border bg-light"><div class="form-group">
          <label for="FormControlFile1"><strong>Year Built</strong></label>
          <input class="form-control" type="text" placeholder="Year Built" name="year_built">
      </div></div>
      </div>
    </div>
    
        
    <div class="container px-lg-5">
      <div class="row mx-lg-n5">
        <div class="col py-3 px-lg-5 border bg-light">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="true">
              Studytime
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <li><button class="dropdown-item" type="button">1</button></li>
              <li><button class="dropdown-item" type="button">2</button></li>
              <li><button class="dropdown-item" type="button">3</button></li>
              <li><button class="dropdown-item" type="button">4</button></li>
            </ul>
          </div>
        <div class="col py-3 px-lg-5 border bg-light"><div class="form-group">
          <label><strong>Garage</strong></label><br>
      <div class="form-check">
          <input class="form-check-input" type="radio" name="option_garage" id="garage_yes" value="yes" checked>
          <label class="form-check-label" for="garage_yes">
            Yes
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="option_garage" id="garage_no" value="no">
          <label class="form-check-label" for="garage_no">
            No
          </label>
        </div>
      </div></div>
        <div class="col py-3 px-lg-5 border bg-light"><div class="form-group">
          <label><strong>Property Type</strong></label><br>
      <div class="form-check">
          
          <input class="form-check-input" type="radio" name="option_ptype" id="house" value="house" checked>
          <label class="form-check-label" for="house">
            House
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="option_ptype" id="condo" value="condo">
          <label class="form-check-label" for="condo">
            Condo
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="option_ptype" id="townhouse" value="townhouse">
          <label class="form-check-label" for="towbhouse">
            Townhouse
          </label>
        </div>
      </div></div>
      </div>
    </div>
        
        
        
        <!--<div class="form-group">
            <label for="FormControlFile1"><strong>Distance Downtown</strong></label>
            <input class="form-control" type="text" placeholder="Distacne Downtown" name="distance_downtown">
        </div>-->
        

        

        
        
        

        

        <!--<div class="form-group">
            <label for="FormControlFile1"><strong>Garage</strong></label>
            <input class="form-control" type="text" placeholder="Garage" name="garage">
        </div>
        <div class="form-group">
            <label for="FormControlFile1"><strong>Walk Score</strong></label>
            <input class="form-control" type="text" placeholder="Walk Score" name="walk_score">
        </div>
        <div class="form-group">
            <label for="FormControlFile1"><strong>Bike Score</strong></label>
            <input class="form-control" type="text" placeholder="Bike Score" name="bike_score">
        </div>
        <div class="form-group">
            <label for="FormControlFile1"><strong>Transit Score</strong></label>
            <input class="form-control" type="text" placeholder="Transit Score" name="transit_score">
        </div>-->

        

        <!--<div class="form-group">
            <label for="FormControlFile1"><strong>House</strong></label>
            <input class="form-control" type="text" placeholder="House" name="house">
        </div>
        <div class="form-group">
            <label for="FormControlFile1"><strong>Condo</strong></label>
            <input class="form-control" type="text" placeholder="Condo" name="condo">
        </div>
        <div class="form-group">
            <label for="FormControlFile1"><strong>Townhouse</strong></label>
            <input class="form-control" type="text" placeholder="Townhouse" name="townhouse">
        </div>-->
        <!--<input type="submit" value="submit">-->
		<div class="container_but">
        <div class="center">
        <div class="container px-lg-5">
            <div class="row mx-lg-n5">
              <div class="col py-3 px-lg-5 border bg-light"><button type="submit" class="btn btn-primary">Submit</button></div>
            </div>
          </div>
		</div>
        </div>
    </form>
	  <br>
    <!--<form name="passdata1" action="." method="post">
    <div class="form-group">
        <label for="FormControlFile1"><strong>Postal Code</strong></label>
        <input class="form-control" type="text" placeholder="Postal Code" name="postal_code">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>-->
    <div class="container px-lg-5">
        <div class="row mx-lg-n5">
          <div class="col py-3 px-lg-5 border bg-light"><div class="card">
            <div class="card-body">
              <h3>Price: {% for item in Ypredict %}</h3>
                  <p><strong>$ {{item[0]}}</strong></p>
                  {% endfor %}
            </div>
          </div></div>
        </div>
      </div>
	  </div>


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

 
<!--
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
-->
</body>

</html>
<!-- end document-->