<html lang="en">
<head>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Remax Realestate &mdash; CALGARY</title>
  <link rel="stylesheet" href="static/css/style-new.css">
</head>
<body>

  <div class="js-animsition animsition" id="site-wrap" data-animsition-in-class="fade-in" data-animsition-out-class="fade-out">


    <header class="templateux-navbar" role="banner">

      <div class="container"  data-aos="fade-down">
        <div class="row">

          <div class="col-3 templateux-logo">
            <a href="index.html" class="animsition-link">&nbsp;</a>
          </div>
          <nav class="col-9 site-nav">
            <button class="d-block d-md-none hamburger hamburger--spin templateux-toggle templateux-toggle-light ml-auto templateux-toggle-menu" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="false" aria-label="Toggle navigation">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button> <!-- .templateux-toggle -->

            <ul class="sf-menu templateux-menu d-none d-md-block">
              
              <li>
                <a href="#" class="animsition-link">Visualizations</a>
                <ul>
                  <li><a href="viz">Cluster Map</a></li>
                  <li><a href="scatter">Scatter Plot</a></li>
                  <li><a href="bar">Density Graph</a></li>
                  <li><a href="data">Data</a></li>
{#                  <li><a href="houseprice">House Price</a></li>#}
                </ul>
              </li>
              <li><a href="https://github.com/dayothompson/ML_Project" class="animsition-link">GitHub</a></li>
            </ul> <!-- .templateux-menu -->

          </nav> <!-- .site-nav -->
          

        </div> <!-- .row -->
      </div> <!-- .container -->
    </header> <!-- .templateux-navba -->
    
    <div class="templateux-cover" style="background-image: url(static/images/selling-home-coronavirus.jpg);">
      <div class="container">
        <div class="row align-items-lg-center">

          <div class="col-lg-6 order-lg-1">
            <h1 class="heading mb-3 text-white" data-aos="fade-up">House Price Finder <strong>CALGARY</strong></h1>
            <p class="lead mb-5 text-white" data-aos="fade-up"  data-aos-delay="100">Do you own a real estate company or are you a real estate agent scheduled for
                appointments with clients who want to buy or sell their house? Are you worried about inspecting several houses to provide an estimated market value to your clients?<br>
                Are you interested in buying a new home or apartment with certain features like a basement, garage, distance to your office downtown, quick access to
                bus/train stations, walking distance to supermarkets and other essential amenities?<br>
                Are you interested in selling your house in a quiet neighborhood, far from city noise with a massive space for future expansion but don't know the market value?<br>
                This app was created for you.
</p>
          </div>
          
        </div>
      </div>
    </div> <!-- .templateux-cover -->

    <div class="templateux-section pt-0 pb-0">
      <div class="container">
        <div class="row">
          <div class="col-md-12 templateux-overlap">
            <div class="row">
              <div class="col-md-3" data-aos="fade-up" data-aos-delay="500">
                <div class="media block-icon-1 d-block text-left shadow p-3 mb-5 bg-white rounded">
                  <div class="icon mb-3">
                    <img src="static/images/ml.jpg" alt="Image" class="img-fluid">
                  </div>
                  <div class="media-body">
                    <h3 class="h5 mb-3">Machine Learning Model</h3>
                    <p>Our machine Learning model can predict the price of a house based on its features.</p>
                    <p><a class="btn btn-primary" href="houseprice" role="button">Go</a></p>
                  </div>
                </div> <!-- .block-icon-1 -->
              </div>
              <div class="col-md-2" data-aos="fade-up" data-aos-delay="600">
                <div class="media block-icon-1 d-block text-left shadow p-3 mb-5 bg-white rounded">
                  <div class="icon mb-3">
                    <img src="static/images/map-heat.jpg" alt="Image" class="img-fluid">
                  </div>
                  <div class="media-body">
                    <h3 class="h5 mb-3">Cluster Map</h3>
                    <p>A cluster map of Calgary property listings.</p>
                    <p><a class="btn btn-primary" href="viz" role="button">Go</a></p>
                  </div>
                </div> <!-- .block-icon-1 -->
              </div>
              <div class="col-md-3" data-aos="fade-up" data-aos-delay="700">
                <div class="media block-icon-1 d-block text-left shadow p-3 mb-5 bg-white rounded">
                  <div class="icon mb-3">
                    <img src="static/images/map-scatter.jpg" alt="Image" class="img-fluid">
                  </div>
                  <div class="media-body">
                    <h3 class="h5 mb-3">Scatter Plot</h3>
                    <p>A scatter plot comparing price and property area against walk score, bike score and transit score.</p>
                    <p><a class="btn btn-primary" href="scatter" role="button">Go</a></p>
                  </div>
                </div> <!-- .block-icon-1 -->
              </div>
              <div class="col-md-2" data-aos="fade-up" data-aos-delay="800">
                <div class="media block-icon-1 d-block text-left shadow p-3 mb-5 bg-white rounded">
                  <div class="icon mb-3">
                    <img src="static/images/density.jpg" alt="Image" class="img-fluid">
                  </div>
                  <div class="media-body">
                    <h3 class="h5 mb-3">Density Graph</h3>
                    <p>A density graph showing bike score.</p>
                    <p><a class="btn btn-primary" href="bar" role="button">Go</a></p>
                  </div>
                </div> <!-- .block-icon-1 -->
              </div>
              <div class="col-md-2" data-aos="fade-up" data-aos-delay="900">
                <div class="media block-icon-1 d-block text-left shadow p-3 mb-5 bg-white rounded">
                  <div class="icon mb-3">
                    <img src="static/images/data.jpg" alt="Image" class="img-fluid">
                  </div>
                  <div class="media-body">
                    <h3 class="h5 mb-3">Data</h3>
                    <p>Data that was scraped in table format.</p>
                    <p><a class="btn btn-primary" href="data" role="button">Go</a></p>
                  </div>
                </div> <!-- .block-icon-1 -->
              </div>
{#              <div class="col-md-2" data-aos="fade-up" data-aos-delay="900">#}
{#                <div class="media block-icon-1 d-block text-left shadow p-3 mb-5 bg-white rounded">#}
{#                  <div class="icon mb-3">#}
{#                    <img src="static/images/ml.jpg" alt="Image" class="img-fluid">#}
{#                  </div>#}
{#                  <div class="media-body">#}
{#                    <h3 class="h5 mb-3">Machine Learning Model</h3>#}
{#                    <p>Machine Learning model that can predict the price of a house based on its features.</p>#}
{#                    <p><a class="btn btn-primary" href="houseprice" role="button">ML Model</a></p>#}
{#                  </div>#}
{#                </div> #}
{#              </div>#}
              
            </div>
          </div>
        </div>
      </div>
    </div> <!-- .templateux-section -->

    <div class="templateux-section bg-light py-5" id="templateux-counter-section">
      <div class="container">
        <div class="row">
          <div class="col-md">
            <div class="templateux-counter text-center">
              <span class="templateux-number" data-number="1577">0</span>
              <span class="templateux-label">Number of House Listings</span>
            </div>
          </div>
          <div class="col-md">
            <div class="templateux-counter text-center">
              <span class="templateux-number" data-number="38">0</span>
              <span class="templateux-label">Number of Localities</span>
            </div>
          </div>
          <div class="col-md">
            <div class="templateux-counter text-center">
              <span class="templateux-number" data-number="3">0</span>
              <span class="templateux-label">Team Members</span>
            </div>
          </div>    
        </div>
      </div>
      
    </div>
  </div> <!-- .templateux-section -->

    <div class="templateux-section bg-light py-5" id="templateux-counter-section">
      <div class="container">
        <div class="row">
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item active">

      <!--<div class="col-md-3" style="float:left">
       <div class="card mb-2">
          <img class="card-img-top"
            src="{{url_for('static', filename='../static/Alexis.png')}}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Alexis Lawal</h4>
            <p class="card-text">Accountant</p>
          </div>
        </div>
      </div>-->

      <div class="col-md-4" style="float:left">
        <div class="card mb-2">
          <img class="card-img-top"
            src="{{url_for('static', filename='../static/newpic.jpeg')}}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Dayo Thompson</h4>
            <p class="card-text">Data Analyst/Power BI Developer</p>
          </div>
        </div>
      </div>

      <div class="col-md-4" style="float:left">
        <div class="card mb-2">
          <img class="card-img-top"
            src="{{url_for('static', filename='../static/kkshan.jpg')}}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Kirushan Kirubaharan</h4>
            <p class="card-text">Data Analytics Professional</p>
          </div>
        </div>
      </div>

       <div class="col-md-4" style="float:left">
       <div class="card mb-2">
          <img class="card-img-top"
            src="{{url_for('static', filename='../static/Sushant.jpeg')}}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Sushant Deshpande</h4>
            <p class="card-text">Jr. Data Scientist</p>
          </div>
        </div>
      </div>

    </div>
  </div>
        </div>
      </div>
    </div>

  

    <div class="row pt-5 text-center">
      <div class="col-md-12 text-center"><p>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="text-danger icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" class="text-primary">Colorlib</a>
        
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p></div>
    </div> <!-- .row -->

  </div>
</footer> <!-- .templateux-footer -->


</div> <!-- .js-animsition -->

<script src="../static/js/scripts-all.js"></script>
<script src="../static/js/main.js"></script>

</body>
</html>